@import "main.css";

h3 a {
    color: green;
}

.project-title {
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

.project-img {    
    width: 50%;    
}

.project-description {
    padding-top: 2%;
    color: rgb(54, 54, 54);
    font-weight: bold;
}
